<!-- SCRIPT -->
<script src="{{ 'cart-quantity-input.js' | asset_url }}" type="module"></script>

<!-- CART TABLE ROW -->
<tr class="tr-body product-cart-item" data-key="{{ item.key }}">
  <!-- CART PRODUCT -->
  <td class="td product-data__cart">
    <img
      class="product-img__cart"
      src="{{ item.image | image_url }}"
      alt="{{ item.title }}"
      width="auto"
      height="auto"
    >
    <div class="product-data__description">
      <a class="product-title__cart link__cart--product-title" href="{{ item.url }}">
        {{ item.product.title }}
      </a>
      <p class="product-variant__cart">
        {% case item.variant.title %}
          {% when 'XS' %}
            Size: Extra small
          {% when 'S' %}
            Size: Small
          {% when 'M' %}
            Size: Medium
          {% when 'L' %}
            Size: Large
          {% when 'XL' %}
            Size: Extra large
          {% else %}
            Size: Free size
        {% endcase %}
      </p>
      <p class="product-price__cart">
        {{ item.price | money }}
      </p>
    </div>
  </td>

  <!-- CART INPUT QUANTITY -->
  <td class="td quantity-data__cart">
    <div class="product-data__description--sm">
      <a class="product-title__cart link__cart--product-title" href="{{ item.url }}">
        {{ item.product.title }}
      </a>
      <p class="product-variant__cart">
        {% case item.variant.title %}
          {% when 'XS' %}
            Size: Extra small
          {% when 'S' %}
            Size: Small
          {% when 'M' %}
            Size: Medium
          {% when 'L' %}
            Size: Large
          {% when 'XL' %}
            Size: Extra large
          {% else %}
            Size: Free size
        {% endcase %}
      </p>
      <p class="product-price__cart">
        {{ item.price | money }}
      </p>
    </div>

    <div class="input-container__cart">
      <cart-quantity-input
        class="quantity-input"
        data-name="{{ item.product.title }}"
        data-size="{{ item.variant.title }}"
        data-available="{{ item.variant.available }}"
      >
        <button name="decrement">
          {% render 'icon-minus' %}
        </button>
        <input
          class="input_number"
          type="number"
          name="quantity"
          value="{{ item.quantity }}"
          min="1"
          max="{{ item.variant.inventory_quantity}}"
          readonly
        >
        <button name="increment">
          {% render 'icon-plus' %}
        </button>
      </cart-quantity-input>
      <a class="btn-trash" href="{{ item.url_to_remove }}">
        {% render 'icon-trash' %}
      </a>
    </div>
  </td>

  <!-- CART PRODUCT TOTAL -->
  <td class="td total-data__cart">
    <p class="product-total__cart">
      {{ item.final_line_price | money }}
    </p>
  </td>
</tr>
