<li class="product-item relative">
  {% if product.type == 'Socks' %}
    <div class="product-img-container overflow-hidden">
      <img 
        class="product-img" 
        name="img-featured" 
        src="{{ product.featured_image | image_url }}" 
        width="120"
        height="150" 
        alt="{{ product.featured_image.alt}}" 
      />
    </div>
  {% else %}
    <div class="product-img-container">
      <img 
        class="product-img" 
        name="img-back" 
        src="{{ product.images[1] | image_url }}" 
        width="120" 
        height="150" 
        alt="{{ product.images[1].alt}}" 
      />
    </div>
    <img 
      class="product-img" 
      name="img-front" 
      src="{{ product.images[0] | image_url }}" 
      width="120"
      height="150" 
      alt="{{ product.images[0].alt}}" 
    />
  {% endif %}
  <h3 class="product-name bold">{{ product.title }}</h3>
  <p class="product-price">{{ product.price | money }}</p>
  <a class="product-link" href="{{ product.url }}"></a>
</li>