<!-- STYLES -->
{{ 'stores.css' | asset_url | stylesheet_tag }}

<!-- SECTION STORES -->
<section class="section-container bg-gray">
  <div class="container">
    <div class="heading-container">
      <p class="subheading">{{ blogs.stores.title }}</p>
      <h2 class="heading-2">Explore with us</h2>
    </div>
    <div class="stores-grid">
      <ul class="stores-list">
        {% for article in blogs.stores.articles %}
          <li class="stores-item">
            <div>
              <img
                class="stores-img"
                src="{{ article.image | image_url }}"
                alt="sample"
                width="auto"
                height="auto"
              >
            </div>
            <h3>{{ article.title }}</h3>
            {{ article.content }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
