{{ 'contact.css' | asset_url | stylesheet_tag }}

<div class="heading-container__pages">
  <p class="subheading">{{ page.title }}</p>
  <h2 class="heading-2">Connect with our Cosmic Crew</h2>
</div>

<section class="section-contact">
  <div class="container">
    <div class="contact-grid">
      <div class="contact-content">
        {{ page.content }}
        <nav class="contact-nav" role="navigation">
          <ul class="contact-icon-list">
            <li class="contact-item">
              <a
                class="link__contact-icon"
                href="https://www.instagram.com/themoonprojectph/'"
                target="_blank"
              >
                {% render 'icon-instagram', size: '2.4rem' %}
              </a>
            </li>
            <li class="contact-item">
              <a
                class="link__contact-icon"
                href="https://facebook.com/themoonprojectph"
                target="_blank"
              >
                {% render 'icon-facebook', size: '2.4rem' %}
              </a>
            </li>
            <li class="contact-item">
              <a
                class="link__contact-icon"
                href="https://open.spotify.com/user/31kt54g6vwyoedvp2hdp2nfpnvye?si=t_3ygD0wRF6Ki1bm49IpsA"
                target="_blank"
              >
                {% render 'icon-spotify', size: '2.4rem' %}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {% form 'contact', return_to: `/pages/contact` %}
        {% if form.errors %}
          {% for error in form.errors %}
            <div class="contact-notification">
              {% render 'icon-error-alert' %}
              <span>
                {{ error | capitalize }}
                {{ form.errors.messages[error] }}
              </span>
            </div>
          {% endfor %}
        {% elsif form.posted_successfully? %}
          <div class="contact-notification">{% render 'icon-success-alert' %} Sent successfully</div>
        {% endif %}

        <div class="contact-input-container">
          <input
            class="contact-input"
            type="text"
            id="ContactFormName"
            name="contact[name]"
            placeholder="Name"
            required="required"
            pattern="[^\d]{2,}"
          >
        </div>
        <div class="contact-input-container">
          <input
            class="contact-input"
            type="email"
            id="ContactFormEmail"
            name="contact[email]"
            placeholder="Email"
            required="required"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          >
        </div>
        <div class="contact-input-container">
          <input
            class="contact-input"
            type="tel"
            id="ContactFormPhone"
            name="contact[phone]"
            placeholder="Mobile"
            required="required"
            pattern="^(632|0)\d{10}"
          >
        </div>
        <div class="contact-input-container">
          <textarea
            class="contact-input"
            rows="10"
            id="ContactFormMessage"
            name="contact[body]"
            placeholder="Message"
            required="required"
          ></textarea>
        </div>
        <div class="contact-input-container">
          <input
            class="btn btn_outline contact-submit"
            type="submit"
            value="Submit"
          >
        </div>
      {% endform %}
    </div>
  </div>
</section>
