<!-- COLLECTION STYLES -->
{{ 'collection.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% assign featured_collection = section.settings.featured_collection %}
{% if featured_collection.handle == 'frontpage' %}
  {% assign featured_collection_url = collections.all.url %}
{% else %}
  {% assign featured_collection_url = featured_collection.url %}
{% endif %}

<!-- SECTION FEATURED COLLECTION -->
<section class="section__collection">
  <div class="container">
    <div class="heading-container">
      {% if section.settings.subtitle != blank %}
        <p class="subheading">{{ section.settings.subtitle }}</p>
      {% endif %}

      {% if section.settings.title != blank %}
        <a
          href="{{ featured_collection_url }}"
          class="heading-2"
        >
          {{ section.settings.title }}
          <span class="heading-2-icon">
            {% render 'icon-right-arrow' %}
          </span>
        </a>
      {% endif %}
    </div>

    <!-- PRODUCT GRID -->
    <div class="product-grid">
      <ul class="product-list__collection grid grid-{{section.settings.column_count}}-col">
        <!-- PRODUCT CARD -->
        {% for product in featured_collection.products limit: section.settings.product_count %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- SCHEMA -->
{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 6,
      "label": "Product Count"
    },
    {
      "type": "range",
      "id": "column_count",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Column Count"
    }
  ]
}
{% endschema %}
