<!-- CART STYLES -->
{{ 'product.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% assign product_item = product.selected_or_first_available_variant %}

<!-- SECTION PRODUCT ITEM -->
<div class="section__product">
  <div class="container grid grid-2-col">
    <div class="product-gallery__product">
      {% for media in product.media %}
        <img 
          class="product-img__product" 
          src="{{ media | image_url }}" 
          alt="{{ media.alt }}" 
          width="auto" 
          height="auto"
        />
      {% endfor %}
    </div>
    <div class="product-description__product">
      {% form 'product', product, id: 'form-product', class: 'form__product':, novalidate: 'novalidate' %}
        <input type="hidden" name="id" value="{{ product_item.id }}">
        <h1 class="heading-product-item">{{ product.title }}</h1>
        <div class="product-price-container__product">
          {% if product_item.price < product_item.compare_at_price %}
            <p class="product-price__product--sale">{{ product_item.compare_at_price | money }}</p>
            <p class="product-price__product">{{ product_item.price | money }}</p>
          {% else %}
            <p class="product-price__product">{{ product_item.price | money }}</p>
          {% endif %}
        </div>

        <!-- SIZE SELECTOR -->
        {% unless product.has_only_default_variant %}
          <variant-selector 
            class="variant-selector" 
            data-url="{{ product.url }}" 
            data-section="{{ section.id }}"
          >
            {% for option in product.options_with_values %}
              <label class="label" for="option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
              <div>
                <!-- RADIO GROUP -->
                {% for value in option.values %}
                  <input 
                    class="input_radio"
                    type="radio" 
                    name="option[{{ option.name }}]"
                    id="{{ value }}"
                    value="{{ value }}"
                  {% if option.selected_value == value %}
                    checked
                  {% endif %}
                  />
                  <label class="input-label_radio" for="{{ value }}">{{ value }}</label>
                {% endfor %}
              </div>

              <script type="application/json">
                {{ product.variants | json }}
              </script>
            {% endfor %}
          </variant-selector>
        {% else %}
          <div class="variant-selector">
            <label class="label" for="option-{{ section.id }}">Size</label>
            <div>
              <input 
                class="input_radio"
                type="radio" 
                name="option"
                id="Free size"
                value="Free size"
                checked
              />
              <label class="input-label_radio" for="Free size">Free size</label>
            </div>
          </div>
        {% endunless %}

        <!-- INPUT QUANTITY -->
        <div class="input-container__product">
          <label class="label" for="quantity-{{ section.id }}">Quantity</label>
          <input 
              type="number" 
              name="quantity" 
              id="quantity-{{ section.id }}" 
              value="1" 
              min="1"
          />
        </div>
          
         <!-- ADD TO CART BUTTON -->
          <div class="btn-container__product">
            <button class="btn btn_main" type="submit" name="add">Add to cart</button>
          </div>
      {% endform %}
    </div>
  </div>
</div>

<script>
  class VariantSelector extends HTMLElement {
      constructor() {
        super();

        this.addEventListener('change', this.onVariantChange)
      }

      onVariantChange() {
        this.getSelectedOption();
        this.getSelectedVariant();

        if (this.currentVariant) {
          this.updateUrl();
          this.updateFormId();
          this.updatePrice();
        }
      }

      getOptionValue() {
        const radioGroup = this.querySelectorAll('[type="radio"]');

        return Array.from(radioGroup, input => input.checked ? input.value : null)
          .filter(value => value !== null)
          .join();
      }

      getSelectedOption() {
        this.option = this.getOptionValue();
      }

      getVariantJSON() {
        const json = this.querySelector('[type="application/json"]');

        this.variantData = this.variantData || JSON.parse(json.textContent);
        return this.variantData.find(variant => variant.title === this.option);
      }

      getSelectedVariant() {
        this.currentVariant = this.getVariantJSON();
      }

      updateUrl() {
        window.history.replaceState({}, "", `${this.dataset.url}?variant=${this.currentVariant.id}`);
      }

      updateFormId() {
        const form = document.querySelector('#form-product');
        const input = form.querySelector('input[name="id"]');

        input.value = this.currentVariant.id;
      }

      updatePrice(){
        fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then(res => res.text())
        .then(resText => {
          const html = new DOMParser().parseFromString(resText, 'text/html');
          const oldPrice =  document.querySelector('.product-item-price-container');
          const newPrice =  html.querySelector('.product-item-price-container');

          if (oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
        })
      }
  }

  customElements.define('variant-selector', VariantSelector);
</script>
