<!-- CART STYLES -->
{{ 'product.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% assign product_item = product.selected_or_first_available_variant %}
{% assign cart_count_for_variant = cart | item_count_for_variant: product_item.id %}
{% assign max_quantity = product_item.inventory_quantity | minus: cart_count_for_variant %}

<!-- Checks if max_quantity is equal 0 -->
{% if max_quantity == 0 %}
  {% assign max_quantity = 1 %}
{% endif %}

<!-- SECTION PRODUCT ITEM -->
<div class="section__product">
  <div class="container grid grid-2-col">
    <div class="product-gallery__product">
      {% for media in product.media %}
        <img 
          class="product-img__product" 
          src="{{ media | image_url }}" 
          alt="{{ media.alt }}" 
          width="auto" 
          height="auto"
        />
      {% endfor %}
    </div>
    <div class="product-description__product">
      <h2>{{ product.title }}</h2>
      <div class="price-container">
        <p>{{ product_item.compare_at_price | money }}</p>
        <p>{{ product_item.price | money }}</p>
      </div>
      
      {% form 'product', product %}
        <label for="size">Size</label>
        <select id="size" name="id" data-url="{{ product.url }}" data-section="{{ section.id }}">
          {% for variant in product.variants %}
            <option 
              value="{{ variant.id }}"
              {% if product_item.id == variant.id %}
                selected
              {% endif %}
            >
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>

        <div class="quantity-input">
          <label for="quantity">Quantiy</label>
          <button name="decrement">minus</button>
          <input 
            type="number" 
            id="quantity"
            name="quantity"
            value="1"
            min="1"
            max="{{ max_quantity }}"
            readonly
          />
          <button name="increment">plus</button>
        </div>

        <div class="btn-container">
          {% if product_item.inventory_quantity == 0 %}
            <button type="submit" disabled>Sold out</button>
          {% else %}
            <button type="submit">Add to cart</button>
          {% endif %}
        </div>
      {% endform %}
    </div>
  </div>
</div>

<script>
  const addToCart = document.querySelector('form[action="/cart/add"]');

  addToCart.addEventListener('submit', async (e) => {
    e.preventDefault();

    const id = document.querySelector('select[name="id"]').value;
    const quantity = Number(document.querySelector('input[name="quantity"]').value);

    const formData = {
      'items': [{
        id,
        quantity
      }]
    }

    // add to cart
    const res = await fetch('/cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
    const data = await res.json();
    const errorMessage = document.querySelector('.error-message');

    // Error
    if (res.status === 422 && !errorMessage) {
      // Render error message
      const btnContainer = document.querySelector('.btn-container');
      const html = `
        <div class="error-message">${data.description}</div>
      `;

      btnContainer.insertAdjacentHTML('beforeend', html);
    } 
    
    // Success
    if (res.status === 200) {
      // Update quantity input and render success message
      // const variant = document.querySelector('select[name="id"]');
      // const res = await fetch(`${variant.dataset.url}?variant=${variant.value}&section_id=${variant.dataset.section}`);
      // const data = await res.text();
      // const html = new DOMParser().parseFromString(data, 'text/html');
      
      // const oldQuantity = document.querySelector('.quantity-input');
      // const newQuantity = html.querySelector('.quantity-input');
  
      // if (!document.isEqualNode(html)) {
      //   oldQuantity.innerHTML = newQuantity.innerHTML;
      // };

      // const btnContainer = document.querySelector('.btn-container');
      // const htmlMessage = `
      //   <div class="success-message">Added to cart!</div>
      // `;

      // btnContainer.insertAdjacentHTML('beforeend', htmlMessage);

      // Redirect to cart
      window.location.href = '/cart'
    }

  })

  const variant = document.querySelector('select[name="id"]');

  variant.addEventListener('change', async e => {
    // Update Url
    window.history.replaceState({}, "", `${e.target.dataset.url}?variant=${e.target.value}`);

    // Update quantity input and button container
    const res = await fetch(`${e.target.dataset.url}?variant=${e.target.value}&section_id=${e.target.dataset.section}`);
    const data = await res.text();
    const html = new DOMParser().parseFromString(data, 'text/html');
    
    const oldQuantity = document.querySelector('.quantity-input');
    const newQuantity = html.querySelector('.quantity-input');

    const oldBtn = document.querySelector('.btn-container');
    const newBtn = html.querySelector('.btn-container');

    if (!document.isEqualNode(html)) {
      oldQuantity.innerHTML = newQuantity.innerHTML;
      oldBtn.innerHTML = newBtn.innerHTML;
    };
  })

  const quantiyInput = document.querySelector('.quantity-input');

  quantiyInput.addEventListener('click', async e => {
    e.preventDefault();

    const btn = e.target.closest('button');

    if (!btn) return;

    // Resmoves success message
    const successMsg = document.querySelector('.success-message');
    successMsg?.remove()

    const input  = document.querySelector('input[name="quantity"]');
    const quantity = Number(input.value);
    const max = Number(input.max);
    const min = Number(input.min);
    
    if (btn.name === 'increment') {
      if (quantity < max) {
        input.value++;
      } 
    } else {
      if (quantity > min) {
        input.value--;
      }
    }
  })
</script>